<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Simulator loggers -->
    <logger name="com.panda.zvt.simulator" level="DEBUG"/>

    <!-- Ktor loggers (reduce noise) -->
    <logger name="io.ktor" level="INFO"/>
    <logger name="io.netty" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
